{% extends 'users/base.html' %}

{% block content %}
    <div class="container">
        <br><br>
        <h1>{{post.title}} | <small>posted by {{post.author}} on {{post.date_created}}</small></h1>
        <hr>
        <h4>{{post.content}}</h4>
        <br>
        <a class="btn btn-primary" type="button" href="{% url 'post-comment' post.id %}">Comment</a>
        <br><br><br>
        <h5>Comments</h5>
        <hr>
        {% for comment in comments %}
            <h6>"{{comment.comment}}" | Posted by {{request.user}}</h6>
            <br>
        {% endfor %}
    </div>
{% endblock %}
